<div class="card-body row">
    <div class="col-5 text-center d-flex align-items-center justify-content-center">
        <div class="">
            <h2>Admin<strong>LTE</strong></h2>
            <p class="lead mb-5">Damanhour,Egypt<br> Phone: 01065578456
            </p>
        </div>
    </div>
    <div class="col-7">
        <form #form="ngForm" (ngSubmit)="sendEmail(form)">
            <div class="text-danger font-weight-bold">{{errormessage}}</div>
            <div class="form-group mb-2">
                <label for="inputEmail">outlook Mail</label>
                <input type="email" id="email" class="form-control" placeholder="email" required name="email" ngModel #email="ngModel">
            </div>
            <div class="text-danger font-weight-bold  mb-2" *ngIf="email.touched && email.errors?.['required']">
                <Span> Email is required</Span>

            </div>
            <div class="form-group mb-2">
                <label for="inputMessage">Message</label>
                <textarea id="message" class="form-control" rows="4" placeholder="write your message" required name="message" ngModel #message="ngModel" minlength="10"></textarea>
            </div>
            <div class="text-danger font-weight-bold  mb-2" *ngIf="message.touched && message.errors?.['required']">
                <Span> message is required</Span>

            </div>
            <div class="text-danger font-weight-bold  mb-2" *ngIf="message.touched && message.errors?.['minlength']">
                <Span> message minlength is 10 characters</Span>

            </div>


            <button type="submit" [disabled]="!form.valid" class="btn btn-primary">
sendMessage      <i class="fa fa-envelope  mx-2" aria-hidden="true"></i>
                </button>




        </form>
    </div>
</div>